<!DOCTYPE html>
<html>

<head>
    <title>Aawaj</title>
    <link rel="stylesheet" href="Joshi_Aawaj.css">
</head>

<body class="editbody">

    <div class="background">

    </div>

    <ul class="nav">
        <li><a href="/HomePage">HOME</a></li>
        <li><a href="/TaxCalculator">TAX</a></li>
        <li><a class="active" href="/Contact">CONTACT</a></li>
        <li><a href="/guestbook">GUESTBOOK</a></li>
        <li><a href="/new-entry">NEW-ENTRY</a></li>
    </ul>

    <header>
        <p id="heading">CONTACT</p>
    </header>

    <div class="form">
        <form method="POST" role="form">
            <form method="POST" action="contact" role="form">
              <label class="info" for="name">Your Name</label>
              <input type="text" id="name" username="name" placeholder="Your name..">
          
              <label class="info" for="question">Write in your query and I shall get back to you as soon as possible</label>
              <textarea id="question" name="question"  placeholder="Write something.." style="height:200px"></textarea>
          
              <Button type="submit" value="Submit" class="btn btn-primary">Submit</Button>
            </form>
          </div>