
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>M07 Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
<link rel="stylesheet" href="/guestbook.css"/>
</head>
<body class="container">
        <ul class="nav">
                <li><a class="active" href="/HomePage">HOME</a></li>
                <li><a href="/TaxCalculator">TAX</a></li>
                <li><a href="/Contact">CONTACT</a></li>
                <li><a href="/guestbook">GUESTBOOK</a></li>
                <li><a href="/new-entry">NEW-ENTRY</a></li>
            </ul>
<h1>
Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>
