<!DOCTYPE html>
<html>

<head>
    <title>Aawaj</title>
    <link rel="stylesheet" href="Joshi_Aawaj.css">
</head>

<body class="editbody">

    <div class="background">

    </div>

    <ul class="nav">
        <li><a class="active" href="/HomePage">HOME</a></li>
        <li><a href="/TaxCalculator">TAX</a></li>
        <li><a href="/Contact">CONTACT</a></li>
        <li><a href="/guestbook">GUESTBOOK</a></li>
        <li><a href="/new-entry">NEW-ENTRY</a></li>
    </ul>

    <header>
        <p id="heading">Bonjour, Namaste</p>
    </header>

    <section>
        <img class="profilepic" src="Headshot.jpg">
    </section>

    <div>

        <br>
        <p class="info">My name is Aawaj Raj Joshi and I was born and rasied in Nepal. I came to the United States in 2014 as an undergraduate
            to pursue a degree in Geology. But fast forward 3 years, and I'm now a senior about to graduate with a double
            major in GIS and Geography. So I went from picking on rocks at national parks to designing political maps of
            cities like New York and Berlin. And I'm loving every second of it.</p>

        <p class="info">So far, I've had a tremendous time at Northwest. I've have made friends from all over the world, yet stil managed
            to find the most amazing Nepali girlfriend. I've lost my accent and now use "like" to connect my sentences. I've
            taken care of 47 stupid freshmen boys as an RA. I've sent numerous acceptance letters to prospective students
            around the world during my time with the International Office. And now at the twilight years of my undergrad
            life, I fix laptops as a Technology Assistant and watch Netflix in my front desk job as a Residential Life Desk
            Assistant.</p>

        <p class="info">After graduation, I would love to work in the autonomous vehicle industry for companies like Uber and Tesla. And
            if I'm lucky enough, I also hope to work for airspace navigation when they finally start making those flying
            cars from 'Back To The Future'.</p>

        <aside>
            <p class="info">
                Click on that 'Contact' button if you have any further questions regarding my life, interests, and work.
            </p>
        </aside>

    </div>

    <footer>
        <br>
        <strong class="footer">See you in class!</strong>
        <br>
    </footer>

    <div>
        <br>
        <br>
        <iframe id="video" src="https://www.youtube.com/embed/ZxuTxV_z2DM?rel=0">
        </iframe>
        <br>
    </div>

    <div class="accounts">
        <footer class="icons">
            <center>
                <br>

                <a href="https://github.com/aawajjoshi"><img title="Github" alt="Github" src="Github.jpg" width="40px" height="40px">
				</a>

                <a href="https://bitbucket.org/aawajjoshi/"><img title="Bitbucket" alt="Bitbucket" src="Bitbucket.png" width="40px" height="40px">
                </a>

                <a href="https://www.linkedin.com/in/aawaj-joshi-720a5b139/"><img title="Linkedin" alt="Linkedin" src="Linkedin.png" width="40px" height="40px">
                </a>
        </footer>
    </div>

</body>

</html>