<!DOCTYPE html>
<html>

<head>
    <title>Aawaj</title>
    <link rel="stylesheet" href="Joshi_Aawaj.css">
</head>

<body class="editbody">

    <div class="background">

    </div>

    <ul class="nav">
        <li><a href="/HomePage">HOME</a></li>
        <li><a class="active" href="/TaxCalculator">TAX</a></li>
        <li><a href="/Contact">CONTACT</a></li>
        <li><a href="/guestbook">GUESTBOOK</a></li>
        <li><a href="/new-entry">NEW-ENTRY</a></li>
    </ul>

    <header>
        <p id="heading">TAX CALCULATOR</p>
    </header>

    <div class="form">
        <form action="/action_page.php">

            <label class="info" for="income">Your Annual Income</label>
            <input type="number" id="income" name="income" placeholder="0.0">

            <label class="info" for="taxpercent">The Tax Percent</label>
            <input type="number" id="taxpercent" name="taxpercent" placeholder="0.0">

            <button type="button" onclick="taxAmount()">Calculate</button>
            <br>
            <div id="output"></div>
        </form>

    </div>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="taxcalc.js"></script>
</body>

</html>