
h1{color: green;
    
}
body{
    background-image: url("water.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}


.nav{
	list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
}

.nav > li {
	display: inline-table;
}

.nav > li > a {
	display: block;
    color: white;
    text-align: center;
	padding: 14px 16px;
	font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}


.nav > li > a:hover{
    background-color: #111;
}