.background{
    background-image: url("water.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.nav{
	list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
}

.nav > li {
	display: inline-table;
}

.nav > li > a {
	display: block;
    color: white;
    text-align: center;
	padding: 14px 16px;
	font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}


.nav > li > a:hover{
    background-color: #111;
}

#heading{
    color: black;
    font-family: "Brush Script MT", cursive;
    font-style: italic;
	text-align: center;
	font-size: 40px;
	font-variant: small-caps;
}

.heading2{
	font-weight: bold;
	font-size: 25px;
}

.info{
    color: black;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    padding: 14px;
}

.profilepic{
    border-radius: 50%;
    float: right;
    max-width: 250px;
    margin: 2px 10px;
}

footer{
	text-align: center;
}

#video{
    width: 560; 
    height: 315;
    border: 0;
    display: block;
    margin: 0 auto;
}

/*Start of Contact.html codes*/

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px transparent;
    border-radius: 4px;
    box-sizing: none;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.form {
    text-align: center;
    border-radius: 5px;
  
    margin-left: 50px;
    margin-right: 50px;
}

#output{
    color: black;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    padding: 50px;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
}





